{%- liquid
  unless product
    assign product = section.settings.product
  endunless
-%}
{%- unless block.settings.title == blank or product.description == blank -%}
<!--tab-item>{{ block.settings.title | escape }}<!--/tab-title-->
<div class="hdt-rte">{{- product.description -}}</div>
<!--/tab-body-->{{ block.shopify_attributes }}<!--/tab-attrs-->
{%- endunless -%}
{% schema %}
{
  "name": "Description",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-product-tabs.blocks.title.label",
      "default": "Description"
    }
  ],
  "presets": [
    { 
      "name": "Description"
    }
  ]
}
{% endschema %}
