{%- assign bk_title = block.settings.title -%}
{%- unless bk_title == blank or block.settings.content == blank -%}
  <!--item-title>
  <h3><button aria-current="{%- if block.settings.open %}true{% else %}false{% endif %}" class="hdt-s-text hdt-relative hdt-font-semibold">{{ bk_title | escape }}</button></h3>
  -->
  <div class="hdt-tab-item-content hdt-rte" tab-item {%- if block.settings.open %} tab-selected{% endif %} data-type={{ block.type }} {{ block.shopify_attributes }}>
    <div class="hdt-rte">{{ block.settings.content }}</div>
  </div>
{%- endunless -%}
{% schema %}
 {
   "name": "t:sections.main-product-tabs.blocks.tab_text.name",
   "tag": null,
   "settings": [
    {
      "type": "checkbox",
      "id": "open",
      "label": "Open",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-product-tabs.blocks.title.label",
      "default": "Tab Custom Text"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:sections.main-product-tabs.blocks.tab_text.settings.content.label"
    }
   ],
  "presets": [
    { 
      "name": "t:sections.main-product-tabs.blocks.tab_text.name" 
    }
  ]
 }
{% endschema %}
