<div class="hdt-product-info__item hdt-product__tabs" data-type={{ block.type }} {{ block.shopify_attributes }}>
</div>
{% schema %}
  {
    "name": "Product tabs",
    "tag": null,
    "settings": [
    ],
    "presets": [
      { 
        "name": "Product tabs" 
      }
    ]
  }
{% endschema %}
