<h1>lab section</h1>

{% content_for 'blocks' %}

{% schema %}
{
  "name": "lab-section",
  "settings": [],
  "blocks": [{"type": "_lab-block"}, {"type": "button"}],
  "presets": [{"name": "lab-section"}]
}
{% endschema %}

